<mat-dialog-content>
    <form class="login-form" [formGroup]="forgetPasswordForm">
        <span class="login-form-title">{{formtitle}}</span>
        <div class="input-container">
            <label>New Password</label>
            <input class="input-style" type="password" placeholder="New password" formControlName="newpassword" style="height: 30px">
            <span class="text-danger"
                *ngIf="forgetPasswordForm.get('newpassword').invalid && forgetPasswordForm.get('newpassword').touched">Password is
                required</span>
        </div>
        <div class="input-container">
            <label>Confirm Password</label>
            <input class="input-style" type="text" placeholder="Confirm password" formControlName="confirmpassword" (focusout)="validatePassword()" style="height: 30px">
            <div *ngIf="forgetPasswordForm.get('confirmpassword').invalid && forgetPasswordForm.get('confirmpassword').touched" class="error-container">
                    <span class="text-danger">Confirm password is required</span>    
            </div>
            <span class="text-danger" *ngIf="!isPasswordValid">Password and Confirmpassword must be same</span>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="null">Cancel</button>
    <button mat-button [mat-dialog-close]="this.forgetPasswordForm.value.newpassword" cdkFocusInitial [disabled]="forgetPasswordForm.invalid || !isPasswordValid" (click)="changePassword()">Change Password</button>
</mat-dialog-actions>