<mat-grid-list cols="2" rowHeight="100%">
    <mat-grid-tile >
        <div class="left-panel"> 
            <h2>Get Things Happening now</h2>
            <h3>Join Tweet App today</h3>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="login-form">
            <span class="login-form-title">Sign in to Tweet App</span>
            <img src="/assets/images/tweetApp-img.png" alt="tweetapp" class="img-style">
            <input class="input-style" type="text" placeholder="Username">
            <input class="input-style" type="password" placeholder="Password">
            <button class="login-btn">Sign in</button>
            <div class="sign-up-container">
                <span>Don't have an account? <a routerLink="/signup">Sign up</a></span>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>