<mat-grid-list cols="2" rowHeight="100%">
    <mat-grid-tile >
        <div class="login-form">
            <span class="login-form-title">Join us today</span>
            <div class="input-container">
                <label>First Name</label>
                <input class="input-style" type="text" placeholder="First name">
            </div>
            <div class="input-container">
                <label>Last Name</label>
                <input class="input-style" type="text" placeholder="Last name">                
            </div>
            <div class="input-container">
                <label>Email</label>
                <input class="input-style" type="text" placeholder="Email">                
            </div>
            <div class="input-container">
                <label>Contact Number</label>
                <input class="input-style" type="text" placeholder="Contact number">                
            </div>
            <div class="input-container">
                <label>Username/Login ID</label>
                <input class="input-style" type="text" placeholder="Username">                
            </div>
            <div class="input-container">
                <label>Password</label>
                <input class="input-style" type="password" placeholder="Password">                
            </div>
            <div class="input-container">
                <label>Confirm</label>
                <input class="input-style" type="password" placeholder="Confirm password">                
            </div>
            <button class="login-btn">Sign up</button>            
        </div>
    </mat-grid-tile>
    <mat-grid-tile>        
        <div class="left-panel"> 
            <h2>Get Things Happening now</h2>
            <h3>Join Tweet App today</h3>
            <div class="sign-in-container">
                <span>Already have an account? <a routerLink="">Sign in</a></span>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>